[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "quickOutlier"]
	path = quickOutlier
	url = https://github.com/daniellop1/quickoutlier
